/* *{
    border: 1px solid lightcoral;
    margin: 3px;
} */

body{
    /* background-color: #1d1d1d; */
    background-color: #212121;
    color: #e0e0e0;
    font-family: monospace;
}

#divCores{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    height: 30%;
    flex-wrap: wrap;
}

.divCor{
    border: 2px solid black;
    padding: 2px;
    margin: 1px;
    border-radius: 7px;
    font-size: small;
}

#divContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

span{
    font-size: 45px;
}

.divResultado{
    border: 1px solid black;
    height: 50px;
    width: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    align-self: flex-end;
    text-align: center;
}
#divAlarmes{
    display: flex;
    flex-direction: row;
}

#divCorCompleta, #divFechou5, #divFechouTodos{
    /* display: invisible; */
    visibility: hidden;
    background-color: blue;
    width:auto;
}

#divAjusteQuantidade{
    display: none;
}

#txtDados, button{
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

#txtDados{
    width: 600px;
    height: 150px;
    font-size: 10px;
}

#divDadosSalvos{
    padding-top: -95px;
    padding-left: 450px;
    /* width: 500px;
    height: 200px; */
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}



#divSelecionarDino{
    margin-right: 20px;
}

#selectDinos{
    max-width: 100px;
    max-height: 30px;
    border-radius: 10px;
    background: lightgray;
}

#novaQtd{
    display: block;
}

#sumirQtd{
    display: none;
}

#juntarBotao{
    display: flex;
}

input{
    height: 50px;
    width: 60px;
    border-radius: 5px;
    border: 0px solid lightgray;
    text-align: center;
    font-size: xx-large;
    background-color: lightgray;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.navigation{
    font-size: 22px;
    position: absolute;
    height: 65px;
    background: rgb(212, 212, 212);
    width: 65px;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 5%;
    z-index: 10;
}
img{
    margin-top: 4px;
    margin-left: 7px;
}

.navigation:hover{
    width:130px;
    height: 180px;
    border-radius: 5%;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 20px;
    text-decoration: none;
    margin-top: 50px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    margin-top: 5px;
}